  <div class="bar bar-header bar-balanced" side="left">
   <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  <div class="title">Confirmed Transaction</div>
  <button class="button button-clear" ng-click="logout()"><i class="icon ion-log-out"></i></button>
</div>
<ion-view >
 
<ion-content class="has-header">
 <center> 
    <h1>Confirmed Transaction</h1>
    <h3>last 10 transaction</h3>
<div class="list">

  <div class="item item-divider">
    Trasaction Data
  </div>

  <a class="item" href="#/app/cekid/{{tranc.datas1}}" >
    {{tranc.datas1}}
  </a>
  <a class="item" href="#/app/cekid/{{tranc.datas2}}"  >
    {{tranc.datas2}}
  </a>
  <a class="item" href="#/app/cekid/{{tranc.datas3}}" >
    {{tranc.datas3}}
  </a>
  <a class="item" href="#/app/cekid/{{tranc.datas4}}" >
    {{tranc.datas4}}
  </a>
  <a class="item" href="#/app/cekid/{{tranc.datas5}}" >
    {{tranc.datas5}}
  </a>
  <a class="item" href="#/app/cekid/{{tranc.datas6}}" >
    {{tranc.datas6}}
  </a>
  <a class="item" href="#/app/cekid/{{tranc.datas7}}" >
    {{tranc.datas7}}
  </a>
  <a class="item" href="#/app/cekid/{{tranc.datas8}}" >
    {{tranc.datas8}}
  </a>
  <a class="item" href="#/app/cekid/{{tranc.datas9}}" >
    {{tranc.datas9}}
  </a>
  <a class="item" href="#/app/cekid/{{tranc.datas10}}" >
    {{tranc.datas10}}
  </a>
</div>
<br/><br/><br/><br/><br/><br/>
    </center>
  </ion-content>
  
</ion-view>

<div class="bar bar-footer bar-balanced">
  <div class="title">NHZ Mobile Wallet Api V.1.0</div>
</div>

