  <div class="bar bar-header bar-balanced" side="left">
   <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  <div class="title">UnConfirmed Transactions</div>
  <button class="button button-clear" ng-click="logout()"><i class="icon ion-log-out"></i></button>
</div>
<ion-view >
  <ion-content class="has-header">
<center>
    <h1>UnConfirmed Transaction</h1>
    <h3>last 10 transaction</h3>
<div class="list">

  <div class="item item-divider">
    Trasaction Data
  </div>

  <a class="item" href="#/app/cekid/{{untranc.datas1}}" >
    {{untranc.datas1}}
  </a>
  <a class="item" href="#/app/cekid/{{untranc.datas2}}"  >
    {{untranc.datas2}}
  </a>
  <a class="item" href="#/app/cekid/{{untranc.datas3}}" >
    {{untranc.datas3}}
  </a>
  <a class="item" href="#/app/cekid/{{untranc.datas4}}" >
    {{untranc.datas4}}
  </a>
  <a class="item" href="#/app/cekid/{{untranc.datas5}}" >
    {{untranc.datas5}}
  </a>
  <a class="item" href="#/app/cekid/{{untranc.datas6}}" >
    {{untranc.datas6}}
  </a>
  <a class="item" href="#/app/cekid/{{untranc.datas7}}" >
    {{untranc.datas7}}
  </a>
  <a class="item" href="#/app/cekid/{{untranc.datas8}}" >
    {{untranc.datas8}}
  </a>
  <a class="item" href="#/app/cekid/{{untranc.datas9}}" >
    {{untranc.datas9}}
  </a>
  <a class="item" href="#/app/cekid/{{untranc.datas10}}" >
    {{untranc.datas10}}
  </a>
</div>
<br/><br/><br/><br/><br/><br/>
    </center>
  </ion-content>
  
</ion-view>

<div class="bar bar-footer bar-balanced">
  <div class="title">NHZ Mobile Wallet Api V.1.0</div>
</div>

